[package]
name = "eroosterctl"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
bench = false
name = "eroosterctl"
path = "src/main.rs"

[dependencies]
erooster_core = {version = "0.1.0", path="../erooster_core"}
clearscreen = "1.0"
clap = { version = "3.1", features = ["derive", "color", "suggestions","env"] }
color-eyre = "0.6"
indicatif = "0.16"
owo-colors = "3"
rpassword = "6.0"
sentry = { version = "0.26", default-features = false, features = ["tracing", "backtrace", "contexts", "panic", "ureq"]}
sys-info = "0.9"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-error = "0.2"
tracing-subscriber = {version = "0.3", features=["env-filter"]}
secrecy = "0.8.0"

[build-dependencies]
vergen = "7"
