[package]
name = "erooster_smtp"
version = "0.1.0"
edition = "2021"
include = ["src/**/*"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13"
color-eyre = "0.6"
erooster_core = {version = "0.1.0", path="../erooster_core"}
futures = { version = "0.3", features = ["thread-pool"]}
nom = "7.1"
rustls = "0.20"
rustls-pemfile = "1.0"
serde = { version = "1.0", features = ["derive"] }
simdutf8 = { version = "0.1" }
sqlxmq = { version = "0.3", default-features = false, features = [ "runtime-tokio-rustls"] }
tokio = { version = "1", features = ["full"] }
tokio-rustls ={ version = "0.23", features = ["tls12"] }
tokio-stream = { version = "0.1", features = ["net", "io-util"] }
tokio-util = { version = "0.7", features = ["full"] }
tracing = "0.1"
tracing-subscriber = {version = "0.3", features=["env-filter"]}
trust-dns-resolver = "0.21"
webpki-roots = "0.22"
secrecy = "0.8.0"

[[bench]]
name = "smtp_bench"
harness = false

[dev-dependencies]
convert_case = "0.5"
criterion = {version = "0.3", features = ["async_tokio"]}
sqlx = { version = "0.5", features = [ "postgres", "runtime-tokio-rustls"] }
enum-iterator = "1.1"
enum-display-derive = "0.1"
